.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/java/com/dbco/gpavlovic/shutterstock/com/dbco/gpavlovic/shutterstock/shutterstock/ShutterStock.java

